<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="Navegador web Firefox">
			<action name="Execute">
				<execute>firefox</execute>
			</action>
		</item>
		<item label="Navegador de archivos">
			<action name="Execute">
				<execute>pcmanfm /home/puri</execute>
			</action>
		</item>
		<item label="Calculadora">
			<action name="Execute">
				<execute>qalculate</execute>
			</action>
		</item>
		<separator/>
		<menu id="root-menu-961148" label="Configurar sistema">
			<item label="Terminal">
				<action name="Execute">
					<execute>x-terminal-emulator</execute>
				</action>
			</item>
			<item label="obconf">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
			</item>
			<item label="obmenu">
				<action name="Execute">
					<execute>obmenu</execute>
				</action>
			</item>
			<item label="Reconfigure">
				<action name="Reconfigure"/>
			</item>
			<item label="tint2">
				<action name="Execute">
					<execute>tint2conf</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="root-menu-711341" label="Session">
			<item label="Reiniciar">
				<action name="Execute">
					<execute>systemctl reboot</execute>
				</action>
			</item>
			<item label="Apagar">
				<action name="Execute">
					<execute>systemctl poweroff</execute>
				</action>
			</item>
		</menu>
		<!-- This requires the presence of the 'menu' package to work -->
	</menu>
</openbox_menu>
